<div class="services-wrapper">
		<div class="service-red account">Accounting<br>Audit<br>&amp; Tax</div>
		<div class="service-gray payroll">Payroll</div>		
		<div class="service-red technology">Techonology</div>
		<div class="service-gray manage">Wealth<br>Management</div>
</div>
<div class="services-content-wrapper">
		<div class="account-content">Donec ante mi, gravida in ornare vitae, tempus a magna. Integer a quam tortor. Donec nec sagittis metus. Nunc et facilisis justo. Vivamus tempor nunc sed orci adipiscing scelerisque. Nullam vel tortor erat. Phasellus convallis, massa at condimentum faucibus, augue augue mattis erat, sit amet euismod tellus ipsum a sem.</div>
		<div class="payroll-content">Donec ante mi, gravida in ornare vitae, tempus a magna. Integer a quam tortor. Donec nec sagittis metus. Nunc et facilisis justo. Vivamus tempor nunc sed orci adipiscing scelerisque. Nullam vel tortor erat. Phasellus convallis, massa at condimentum faucibus, augue augue mattis erat, sit amet euismod tellus ipsum a sem.</div>
		<div class="technology-content">Donec ante mi, gravida in ornare vitae, tempus a magna. Integer a quam tortor. Donec nec sagittis metus. Nunc et facilisis justo. Vivamus tempor nunc sed orci adipiscing scelerisque. Nullam vel tortor erat. Phasellus convallis, massa at condimentum faucibus, augue augue mattis erat, sit amet euismod tellus ipsum a sem.</div>
		<div class="manage-content">Donec ante mi, gravida in ornare vitae, tempus a magna. Integer a quam tortor. Donec nec sagittis metus. Nunc et facilisis justo. Vivamus tempor nunc sed orci adipiscing scelerisque. Nullam vel tortor erat. Phasellus convallis, massa at condimentum faucibus, augue augue mattis erat, sit amet euismod tellus ipsum a sem.</div>
</div>
<div class="content services">

</div>