<div class="content home">
	<!-- <div class="services-wrapper">
		<ul id="opacity-70">
			<li class="service-red">Accounting<br>Audit<br>&amp; Tax</li>
			<li class="service-gray">Payroll</li>
			<li class="service-gray">Technology</li>
			<li class="service-red">Wealth Management</li>
		</ul>
	</div> -->
</div>